/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

/* Book of Johnny */
body {
    background-color: #EFEBE9;
	
    }

div {
	width: 100%;
	height: 100vh;
	line-height: 100vh;
	text-align: center;
	font-family: Playfair Display, serif;
	font-weight: 400;
	color: black;
}
    
span {
	display: inline-block;
	vertical-align: center;
	line-height: 40px;
	opacity: 60%;
}

b {
    font-weight: 700;
}