@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Open+Sans:wght@300;400&family=Roboto+Mono:wght@300;400&display=swap');

:root {
    --black: #000a12;
    --dark-bg: #102027;
    --dark-fg: #263238;
    --light: #b0bec5;
    --text-primary: rgba(255, 255, 255, 0.75);
    --text-secondary: rgba(255, 255, 255, 0.6);
    --red: #ef9a9a;
    --pink: #f48fb1;
    --purple: #ce93d8;
    --indigo: #9fa8da;
    --green: #a5d6a7;
    --cyan: #80deea;
    --blue: #90caf9;
    --yellow: #fff59d;
    --orange: #ffab91;
    --link: rgba(255, 255, 255, 0.9);
    --link-hover: var(--pink);
    --primary-font: "Comfortaa", sans-serif;
    --secondary-font: "Open Sans", sans-serif;
    --mono-font: "Roboto Mono", monospace;
}

.base-theme {
    background-color: var(--dark-bg);
    color: var(--text-secondary);
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.wrapper {
    padding-top: 3rem;
}

.mock-toolbar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 0.25rem;
    background-color: var(--black);
    border-radius: 0.5rem 0.5rem 0px 0px;
}

.tb-close {
    fill: #f44336;
    cursor: pointer;
}

.tb-minimize {
    fill: #ffeb3b;
    cursor: pointer;
}

.tb-expand {
    fill: #4caf50;
    cursor: pointer;
}

.main-container {
    background-color: var(--dark-bg);
    border-radius: 0.5rem;
    margin-bottom: 8rem;
    filter: drop-shadow(0.1rem 0.1rem 0.5rem var(--black));
}

.main-section {
    height: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.footer-container {
    padding: 4rem;
    padding-top: 3rem;
    background-color: var(--dark-fg);
    font-weight: 300;
    font-family: var(--mono-font);
    font-size: 14px;
    letter-spacing: 0.5px;
}

.projects-links {
    font-size: 1.25rem;
    font-weight: 300;
}

.socials-icons {
    font-size: 1.3rem;
}

h1 {
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 93px;
    letter-spacing: -1.5px;
    color: var(--text-primary);
    text-transform: lowercase;
}

h2 {
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 58px;
    letter-spacing: -0.5px;
    color: var(--text-primary);
    text-transform: lowercase;
}

h3 {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 47px;
    letter-spacing: 0px;
    color: var(--text-primary);
    text-transform: lowercase;
}

h4 {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 33px;
    letter-spacing: 0.25px;
    color: var(--text-primary);
    text-transform: lowercase;
}

h5 {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 23px;
    letter-spacing: 0px;
    color: var(--text-primary);
    text-transform: lowercase;
}

h6 {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 19px;
    letter-spacing: 0.15px;
    color: var(--text-primary);
    text-transform: lowercase;
}

.style-h1 {
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 93px;
    letter-spacing: -1.5px;
    color: var(--text-primary);
    text-transform: lowercase;
}

.style-h2 {
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 58px;
    letter-spacing: -0.5px;
    color: var(--text-primary);
    text-transform: lowercase;
}

.style-h3 {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 47px;
    letter-spacing: 0px;
    color: var(--text-primary);
    text-transform: lowercase;
}

.style-h4 {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 33px;
    letter-spacing: 0.25px;
    color: var(--text-primary);
    text-transform: lowercase;
}

.style-h5 {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 23px;
    letter-spacing: 0px;
    color: var(--text-primary);
    text-transform: lowercase;
}

.style-h6 {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 19px;
    letter-spacing: 0.15px;
    color: var(--text-primary);
    text-transform: lowercase;
}

.style-font-display {
    font-family: var(--primary-font) !important;
}

.style-font-normal {
    font-family: var(--secondary-font) !important;
}

.style-font-monospace {
    font-family: var(--mono-font) !important;
}

.style-body {
    font-weight: 400 !important;
    font-size: 16px !important;
    letter-spacing: 0.5px !important;
}

.style-body.style-font-monospace {
    font-weight: 400 !important;
    font-size: 17px !important;
    letter-spacing: 0.5px !important;
}

a {
    color: var(--link);
    text-decoration: none;
    text-transform: lowercase;
}

a:hover {
    color: var(--link-hover);
    opacity: 0.9;
}

.title-img {
    user-select: none;
}

.title-img:hover {
    opacity: 1;
}