/*
base03: #002b36;
base02: #073642;
base01: #586e75;
base00: #657b83;
base0: #839496;
base1: #93a1a1;
base2: #eee8d5;
base3: #fdf6e3;
yellow: #b58900;
orange: #cb4b16;
red: #dc322f;
magenta: #d33682;
violet: #6c71c4;
blue: #268bd2;
cyan: #2aa198;
green: #859900;
*/

body {
	background-color: #002b36;
}

a {
	text-decoration: none;
	color: #657b83;
}

a:hover {
	color: #93a1a1;
}

.header {
	text-align: center;
	padding: 25px
}

/* Primarily for text! */
#main {
	padding: 100px;
	padding-top: 80px;
}

#socials-bar {
	margin: 0 auto;
	position: fixed;
	top: 0;
	width: 100%;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	word-spacing: 2px;
	font-weight: 300;
	color: #93a1a1;
	height: 35px;
	text-align: right;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #073642;
	text-transform: lowercase;
}

#socials-bar a {
	font-size: 18px;
	padding-left: 20px;
	padding-right: 20px;
}

.single-text-container {
	display: block;
	margin: auto;
	width: 50%;
	margin-top: 25px;
	margin-bottom: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #073642;
}

h1 {
	font-family: Comfortaa, sans-serif;
	font-size: 32px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #93a1a1;
	font-weight: 700;
	text-transform: lowercase;
}

h2 {
	font-family: Comfortaa, sans-serif;
	font-size: 28px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #93a1a1;
	font-weight: 700;
	text-transform: lowercase;
}

h3 {
	font-family: Comfortaa, sans-serif;
	font-size: 24px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #839496;
	font-weight: 600;
	text-transform: lowercase;
}

h4 {
	font-family: Comfortaa, sans-serif;
	font-size: 22px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #657b83;
	font-weight: 500;
	text-transform: lowercase;
}

p {
	font-family: Roboto, sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
	word-spacing: 2px;
	color: #839496;
	font-weight: 400;
}

.subtitle {
	font-family: Roboto, sans-serif;
	font-size: 22px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #657b83;
	font-weight: 400;
	text-transform: lowercase;
}

footer {
	display: block;
	padding-top: 25px;
	padding-bottom: 40px;
	padding-right: 25px;
	padding-left: 25px;
	background-color: #073642;
}

footer p {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	word-spacing: 2px;
	font-weight: 300;
	text-transform: lowercase;
	text-align: center;
	color: #657b83;
}
