body {
	background-color: #073642;
}

#main {
	padding: 100px;
	padding-top: 80px;
}

#menu-bar {
  padding-left: 0px;
  padding-right: 110px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  color: #93a1a1;
  height: 35px;
  text-align: center;
  padding-top: 15px;
  background-color: #fdf6e3;
}

#menu-bar a {
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
  color: #657b83;
  text-decoration: none;
}

#menu-bar a:hover {
  color: #93a1a1;
}

.container {
	display: block;
	margin-top: 80px;
	margin-bottom: 80px;
	margin-right: 50px;
	margin-left: 50px;
	padding-top: 10px;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 200px;
	background-color: #073642;
}


h1 {
	font-family: Comfortaa, sans-serif;
	font-size: 32px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #93a1a1;
	font-weight: 700;
	text-transform: lowercase;
}

h2 {
	font-family: Comfortaa, sans-serif;
	font-size: 28px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #93a1a1;
	font-weight: 700;
	text-transform: lowercase;
}

h3 {
	font-family: Comfortaa, sans-serif;
	font-size: 24px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #839496;
	font-weight: 600;
	text-transform: lowercase;
}

h4 {
	font-family: Comfortaa, sans-serif;
	font-size: 22px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #657b83;
	font-weight: 500;
	text-transform: lowercase;
}

p {
	font-family: Roboto, sans-serif;
	font-size: 18px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #839496;
	font-weight: 400;
}

.subtitle {
	font-family: Roboto, sans-serif;
	font-size: 22px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #657b83;
	font-weight: 400;
	text-transform: lowercase;
}
